/* CSS Document */
html, body {
	height: 100%;
	width: 100%;
  box-sizing: border-box;
  margin: 3% 5% 3% 5%;
  background-color: #F2F2F2;
}

*, *:before, *:after {
  box-sizing: inherit; }

.container-fluid {
  padding: 0; }

p {
	font-size: 16px;
  margin-top: 2%;
}

.page {
  color: #737373;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  }

.page h2 {
  padding-bottom: 20px;
  border-bottom: solid 1px #9C9C9C;
}

.page h4 {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  color: #317bfc;
}

.page li {
  
  }


li {
  margin-bottom: 10px;
  font-size: 18px; }

a {
  color: #317bfc;
}

a:hover {
  color: #9C9C9C;
}

#nav {
  height: 200px;
  top: 50%;
  margin-top: -100px;
  z-index: 9;
  position: fixed; }
  
  
#page2 img {
	padding: 3%;
}


#page3 img {
  padding: 1% 0 1% 0;
}

#over {
    background-image: url("https://91b6be3bd2294a24b7b5-da4c182123f5956a3d22aa43eb816232.ssl.cf1.rackcdn.com/contentItem-7811747-66869582-lnh1mdr8cdbdn-or.png");
    background-repeat: no-repeat;
    height: 750px;
    width: 380px;
    position: relative;
}

iframe {
    position: absolute;
    margin: 90px 0px 0px 10px;
}