
  
/*extra small*/

@media screen and (max-width: 499px) {
img {
	width: 100%;
}

body, html {
	margin: 0;
	padding: 0;	
}

#page2 img {
	width: 80%;	
}
}


/*small*/

@media screen and (min-width: 500px) and (max-width: 699px) {


}
	
	 
	


/*medium*/
@media screen and (min-width: 700px) and (max-width: 899px) {

} 




/*large*/

@media screen and (min-width: 900px) {

}






